<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LaserCleanChamber.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LaserCleanChamber.Settings>
            <setting name="LastSelectedPreset" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSelectedLaserDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSelectedChamberDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSelectedTracingAlgorythm" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSelectedSide" serializeAs="String">
                <value />
            </setting>
        </LaserCleanChamber.Settings>
    </userSettings>
</configuration>